<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Создание продукта</title>
</head>
<body>
<div>
    <form action="/admin/product/add" method="post">
        <input type="text" name="name" placeholder="Название">
        <input type="text" name="description" placeholder="Описание">
        <input type="text" name="cost" placeholder="цена">
        <select name="category">
            <div th:each="el : ${categories}">
                <option th:value="${el.id}" th:text="${el.name}"></option>
            </div>
        </select>
        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>