<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/admin.css}">
    <title>Редактирование продукта</title>
</head>
<body>

<div class="container">

    <header class="header" th:insert="fragments-html/header :: header"></header>

    <main>

        <p class="title">Редактирование категории</p>
        <div id="product-image"><img th:src="${product.image}"></div>
        <form th:action="'/admin/product/edit/' + ${product.id}" th:method="patch" enctype="multipart/form-data">
            <label for="image-uploader">Выбор изображения</label>
            <input type="file" name="image" id="image-uploader" accept=".jpg, .png, .jpeg">

            <label for="name">Название:</label>
            <input type="text" name="name" id="name" placeholder="Название" th:value="${product.name}">

            <label for="description">Описание:</label>
            <textarea type="text" name="description" id="description" placeholder="Описание" th:text="${product.description}"></textarea>

            <label for="cost">Цена в руб.:</label>
            <input type="text" name="cost" placeholder="цена" id="cost" th:value="${product.cost}">

            <label for="category">Категория:</label>
            <select name="category" id="category">
                <div th:each="el : ${categories}">
                    <div th:switch="${el.id}">
                        <div th:case="${product.category.id}">
                            <option th:value="${el.id}" th:text="${el.name}" selected="selected"></option>
                        </div>
                        <div th:case="*">
                            <option th:value="${el.id}" th:text="${el.name}"></option>
                        </div>
                    </div>
                </div>
            </select>

            <button type="submit" class="submit">Редактировать</button>

        </form>

    </main>

</div>

<script th:src="@{/admin.js}"></script>

</body>
</html>