<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/admin.css}">
    <title>Создание категории</title>
</head>
<body>
<!--файл :: название_фрагмента -->

<div class="container">

    <header class="header" th:insert="fragments-html/header :: header"></header>

    <main>
        <p class="title">Добавление категории</p>
        <form action="/admin/category/add" method="post">
            <input type="text" name="name" placeholder="Название категории">
            <button type="submit" class="submit">Добавить категорию</button>
        </form>
    </main>

</div>

</body>
</html>