<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Категории</title>
</head>
<body>
<div>
    <h3><a href="/admin/category/add">Добавить категорию</a></h3>
    <div th:each="el : ${categories}">
        <p th:text="${el.id}"></p>
        <p th:text="${el.name}"></p>
        <a th:href="'/admin/category/edit/' + ${el.id}">Редактировать</a>
        <form th:action="'/admin/category/delete/' + ${el.id}" th:method="delete">
            <button type="submit">Удалить</button>
        </form>
    </div>
</div>
</body>
</html>